@mixin displayFlexColumn() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin displayFlexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}




body {
    margin: 0;
}
